:root {
    --index: calc(1vw + 1vh);
    --transition: 1.5s cubic-bezier(.05, .5, 0, 1);

}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.ibg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
        display: none;
    }
}

a {
    color: black;
}

@font-face {
    font-family: 'Kameri';
    src: url(../fonts/kamerik205-heavy.woff2);
    font-weight: 900;
}

@font-face {
    font-family: 'Merriweather';
    src: url(../fonts/merriweather-regular-italic.woff2);
    font-weight: 400;
}

$fk: 'Kameri';
$fm: 'Merriweather';

.wrapper {
    overflow: hidden;
    min-height: 100%;
    background-color: #333;
    color: white;
    font-family: $fk;
    text-align: center;
}

[class*='__container'] {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}


.logo {
    background: url('../img/logo.svg') no-repeat;
    height: calc(var(--index)*8);
    width: calc(var(--index)*8);
    // margin: 0 auto;
    position: absolute;
    top: calc(var(--index)*2.8);
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);

}

.layers {
    perspective: 1000px;
}

.leyers-container {
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    height: 100vh;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform var(--transition);
}

.leyers__item {
    position: absolute;
    top: -5vw;
    bottom: -5vw;
    left: -5vw;
    right: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leyer1 {
    background-image: url(../img/layer-1.jpg);
    transform: translateZ(-55px)scale(1.06);
}

.leyer2 {
    background-image: url(../img/layer-2.png);
    transform: translateZ(80px);
}

.leyer3 {
    transform: translateZ(180px) scale(0.8);
}

.leyer4 {
    transform: translateZ(190px) scale(0.9);
    pointer-events: none;
}

.leyer5 {
    background-image: url(../img/layer-5.png);
    transform: translateZ(300px) scale(0.9);
    pointer-events: none;
}

.leyer6 {
    background-image: url(../img/layer-6.png);
    transform: translateZ(380px);
    pointer-events: none;
}

.hero-container {
    text-transform: uppercase;
    font-size: calc(var(--index)*2.9);
    letter-spacing: calc(var(--index)*-0.05);
    line-height: 1.35em;
    margin-top: calc(var(--index)*5.5);
}

.hero-title {}

.hero-subtitle {
    font-size: calc(var(--index)*0.8);
    text-transform: none;
    font-family: $fm;
    letter-spacing: normal;
    line-height: 2;
}

.button {
    cursor: pointer;
    letter-spacing: -0.02vw;
    font-family: $fk;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index)*0.7);
    display: inline-block;
    border-radius: 10em;
    border: rgb(255, 255, 255 / .4) 3px solid;
    background-color: transparent;
    padding: calc(var(--index)*0.1 ) calc(var(--index)*1.25);
    color: white;
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s;

    &:hover {
        background-color: rgb(255, 255, 255 / .4);
        color: #333;
    }
}

.screen {
    height: 100vh;
}